/** styles **/
.rm-container
{
    width: 30%;
    max-width: 300px;
    height:400px;
    position: relative;
    margin: 0 auto;
   -webkit-perspective: 1600px;
	perspective: 1600px;
    margin-top: 200px;
}
.rm-wrapper,.rm-cover,.rm-middle,.rm-right
{
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    position: absolute;
    text-align: center;
    -webkit-transform-style:preseve-3d;
    transform-style:preserve-3d;   
}
.rm-cover
{
    z-index: 100;
    -webkit-transform-origin:0% 50%;
    -webkit-transition-delay:0.2s;
    transform-origin: 0% 50%;
    transition-delay: 0.2s;
}
.rm-middle
{
    z-index: 50;
}
.rm-right
{
    z-index: 60;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.rm-front
{
    width: 100%;
}
.rm-front,.rm-back,.rm-inner
{
    position: absolute;
    border: 1px solid #dbd;
    background-color: #fff;
    height: 100%;
    box-shadow:0px 0px 4px rgba(0,0,0,0.4);
}
 
.rm-front,.rm-back
{
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
.rm-back
{
    -webkit-transform:rotateY(-180deg);
    transform: rotateY(-180deg);
}

.rm-close
{
    position: absolute;
    top: -20px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    right: 0;
    padding: 0px 6px;
}
.rm-front a
{
    display: block;
    margin: 20px;
}
/** transitions **/
.rm-close
{
    -webkit-transition:  all 0.1s ease-in-out 0s;
    transition:  all 0.1s ease-in-out 0s;
}
.rm-wrapper,.rm-cover,.rm-middle,.rm-right
{
    -webkit-transition: all 0.6s ease-in-out, height 0s;
	transition: all 0.6s ease-in-out, height 0s;
}
.rm-container.rm-open .rm-close
{
    -webkit-transition: all 0.3s ease-in-out 0.8s;
	transition: all 0.3s ease-in-out 0.8s;
	opacity: 1;
}
.rm-container.rm-open .rm-cover
{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition-delay:0s;
     transition-delay:0s;
    
}
.rm-container.rm-open .rm-right
{
    -webkit-transform:rotateY(180deg);
    transform: rotateY(180deg);
    transition-delay:0.2s;
    -webkit-transition-delay:0.2s;
}